#hidden {
	display: none;
}

@font-face{
    font-family: Lemonmilk;
    src: url('../font/LEMONMILK-Regular.ttf');
}

html, body {
	width:  100%;
	height: 100%;
	margin: 0;
	background: black;
	font-family: Lemonmilk, Helvetica, sans-serif;
}

/*@media only screen (max-width: 400px){
	.wrapper{
		display:flex; 
		flex-direction: column;
	}
}
*/

.wrapper{
	display:flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	flex-direction: row; /*row is default*/
	justify-content: space-between;
	height: 100%; /*make height 100% and stretch items*/
	align-items: stretch;
}

#textbox{
	text-align: left;
	background: black;
	color: white;
	margin-bottom: 2em;
}



#column1{
	background: black;
	margin: 1.5rem;
	padding: 1rem;
	order: 1;
	flex-grow: 1;
}

#column2{
	background: black;
	order: 2;
	flex-grow: 3;
/*	flex-grow: 1;*/
	/*min-height: 100vh;*/
}

#bar{
	background: white;
	width: 1%;
	height: 30px;
}


input[type="file"]{ /*make input button invisible*/
	display:none;
}

input[type="submit"]{
	font: 0.8rem Lemonmilk, Helvetica, sans-serif;
	color: white;
	background-color: black;
	box-shadow: 0.1em 0.1em white;
	border: 1px solid white;
	cursor:pointer;
}

label[for = "file"]{
	font: 0.8rem Lemonmilk, Helvetica, sans-serif;
	color: white;
	padding: 0.2em;
	background-color: black;
	box-shadow: 0.1em 0.1em white;
	border: 1px solid white;
	cursor:pointer;
/*	line-height: 5; */
}


input[type="submit"]:hover, label[for = "file"]:hover {
	border: 2px solid white;
}
