#hidden {
	display: none;
}

@font-face{
    font-family: Lemonmilk;
    src: url('../font/LEMONMILK-Regular.ttf');
}

html, body {
	width:  100%;
	height: 100%;
	margin: 0;
	background: black;
	font-family: Lemonmilk, Helvetica, sans-serif;
}

@media only screen (max-width: 400px){
	.wrapper{
		display:flex; 
		flex-direction: column;
	}
}


.wrapper{
	display:flex;
/*	flex-direction: column; row is default*/
	/*justify-content: center;*/
}

#textbox{
	text-align: left;
	background: black;
	color: white;
	margin-bottom: 2em;
}


#gamecanvas{
	background: black;
	order: 2;
	flex: 3;
	flex-grow: 1;
	min-height: 100vh;
}


#dash{
	background: black;
	margin: 2rem;
	padding: 2rem;
	order: 1;
	flex-basis: 10%;
}

#bar{
	background: white;
	width: 1%;
	height: 30px;
}


input[type="file"]{ /*make input button invisible*/
	display:none;
}

input[type="submit"]{
	font: 0.8rem Lemonmilk, Helvetica, sans-serif;
	color: white;
	background-color: black;
	box-shadow: 0.1em 0.1em white;
	border: 1px solid white;
	cursor:pointer;
}

label[for = "file"]{
	font: 0.8rem Lemonmilk, Helvetica, sans-serif;
	color: white;
	padding: 0.2em;
	background-color: black;
	box-shadow: 0.1em 0.1em white;
	border: 1px solid white;
	cursor:pointer;
/*	line-height: 5; */
}


input[type="submit"]:hover, label[for = "file"]:hover {
	border: 2px solid white;
}
