<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.14.2/matter.min.js"></script>
<!-- 	<script
	  src="https://code.jquery.com/jquery-3.4.1.min.js"
	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	  crossorigin="anonymous"></script> -->
	 <script src="{{ url_for('static', filename='index.js') }}"></script>
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

	<!-- <script src="index.js"></script> -->

</head>
<body>

<!-- <div id = "hidden"> {{ svg | safe }} </div> -->
	<div class = "wrapper">
		<div id="column1">
			<div id="textbox">Decomposition Progress: </div>
			<div id="bar"> </div>
			  <form id = "myform" method = "POST" action = "" enctype="multipart/form-data">
			    <p>
			    	<label for = "file" >Upload resume</label>
			    	<input id = "file" type = "file" name="file" accept = ".txt">
			    </p>
			    <p><input type = "submit" name="Submit"></p> 
			  </form>
		</div>
		<div id="column2"></div>
	</div>
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function(event) { 
			let start = Date.now()
			scramble({{ letters | tojson }}, start);
		});
	</script>

	</body>
</html>